!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= "#{site.title} &mdash; #{page.title}"
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" }
    :css
      body {
        padding-top: 70px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" }
    %link{ :rel=>'stylesheet', :href=>"http://fonts.googleapis.com/css?family=Cantarell" }
    :css
      body {
        background-color: white;
        color: #444;
        font-family: Cantarell, sans-serif;
      }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'http://html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{ :role=>"navigation" }
      .navbar-header
        %button.navbar-toggle{ :type=>'button', 'data-toggle'=>'collapse', 'data-target'=>'.navbar-ex1-collapse'}
          %span.sr-only Toggle navigation
          %span
            %i.icon-reorder
        %a.navbar-brand{ :href=>"/" } #{site.name}
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{ :href=>'/contact/'} Contact
          %li
            %a{ :href=>'/book/'} Book
          %li
            %a{ :href=>'/news/'} News
    
    .container
      ~ content

      %hr
      %footer
        %a{ :href=>'http://creativecommons.org/licenses/by-nc/3.0/' } &copy;&nbsp;2013
        %a{ :href=>"#{site.author.url}" }= site.author.name 

    %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js' }
    = google_analytics_async
    